ul {
  list-style: none;
}

img {
  margin-right: 17px;
  margin-bottom: 15px;
  float: left;
  width: 100px;
  height: 100px;
}

h4 {
  font-weight: 600;
  color: #4279A5;
}

.page-link {
  color: #4279A5;
  border-radius: 5px;
  cursor: pointer;
}
