<hr>
<p>Exibindo {{quantidadePorPagina}} de {{quantidadeTotal}} itens</p>
<hr>
<ul>
  <li *ngFor="let item of pokemonList">
    <img src="{{item.caminhoImagem}}" alt="">
    <h4>{{item.nome}}</h4>
    <p>{{item.caracteristicas}}</p>
    <hr>
  </li>
</ul>

<section>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item"><a class="page-link" *ngIf="previousUrl !='' && previousUrl != null "
          (click)="buscarPokemon(previousUrl)">Anterior</a></li>
      <li class="page-item"><a class="page-link" (click)="buscarPokemon(nextUrl)">Próximo</a></li>
    </ul>
  </nav>
</section>
